html, body {
    font-family: 'Poppins', sans-serif;
}

/* Typography */
.text-12xl {
    font-size: 12rem;
}

/* Buttons */
.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: white;
}

/* helpers */
.flex--center {
    justify-content: center;
    align-items: center;
}

/* ANIMATIONS */
.fade-in {
    animation: fade-in 200ms ease-in
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1};
}

.bg-svg {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2344337a' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23491e72' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%234b3886' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2350247e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23523e93' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23572a8a' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%235943a0' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%235e3196' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%236148ad' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%236537a2' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23684eba' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%236c3eaf' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-white--gradient {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 50%, rgba(255,255,255,0.5))
}

.shadow-xxl {
    box-shadow: 0 0 3rem rgba(0,0,0,0.25);
}

.bg--gradient__purple {
    background: #44337a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #44337a, #513e92);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #44337a, #513e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .hide-sm {
        display: none;
    }
}

.text-8xl {
    font-size: 6rem;
}